<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APIKEY" value="xxxxxx-xxxx-xxxx-xxxxxxxxxxxx"/>

    <!-- 
      
      By default we will run the functional tests using the emulator so we don't use up all the daily bits from random.org.  Set this value to false 
      if you want to run the functional tests against random.org.
      
      ********************************************* W A R  N I N G***********************************************
      Unit Tests run in parallel so if you run the these tests againt random.org you should only run them one at a time or you could possibly be banned.
      
    -->
    <add key="UseEmulator" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
